In [206]:
import numpy as np
import pandas as pd

In [207]:
books = pd.read_csv('Books.csv')
users = pd.read_csv('Users.csv')
ratings = pd.read_csv('Ratings.csv')
books_content=pd.read_csv('goodreads_data.csv')

C:\Users\HP PC\AppData\Local\Temp\ipykernel_5768\3164135469.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')

In [208]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [209]:
print(books_content.shape)

(10000, 8)

In [210]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [211]:
books_content.head()

,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,1,Harry Potter and the Philosopherâ€™s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...

In [212]:
new_books=pd.merge(books, books_content, left_on='Book-Title', right_on='Book', how='inner')
new_books=ratings.merge(new_books, on="ISBN")

In [213]:
new_books.columns

Index(['User-ID', 'ISBN', 'Book-Rating', 'Book-Title', 'Book-Author',
       'Year-Of-Publication', 'Publisher', 'Image-URL-S', 'Image-URL-M',
       'Image-URL-L', 'Unnamed: 0', 'Book', 'Author', 'Description', 'Genres',
       'Avg_Rating', 'Num_Ratings', 'URL'],
      dtype='object')

In [214]:
num_rating_df=new_books.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num-ratings'},inplace=True)
num_rating_df

                                             Book-Title  num-ratings
0                                          'Salem's Lot           94
1                                    100 Selected Poems            3
2               1421: The Year China Discovered America           10
3                                                  1812            4
4                                                  1984          284
...                                                 ...          ...
2138                                Young Goodman Brown            2
2139                               Your Erroneous Zones           37
2140                            Your Money or Your Life            6
2141  Zen Flesh, Zen Bones: A Collection of Zen and ...            1
2142                                    Zorba the Greek            4

[2143 rows x 2 columns]

## Collaborative Filtering

In [215]:
x= new_books.groupby('User-ID').count()['Book-Rating'] > 10
padhe_likhe_users=x[x].index

In [216]:
filtered_rating = new_books[new_books['User-ID'].isin(padhe_likhe_users)]
filtered_rating

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
90,277427,006092988X,0,A Tree Grows in Brooklyn,Betty Smith,1998,Perennial,http://images.amazon.com/images/P/006092988X.0...,http://images.amazon.com/images/P/006092988X.0...,http://images.amazon.com/images/P/006092988X.0...,85,A Tree Grows in Brooklyn,Betty Smith,The beloved American classic about a young gir...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.29,"442,856",https://www.goodreads.com/book/show/14891.A_Tr...
91,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,http://images.amazon.com/images/P/006440188X.0...,http://images.amazon.com/images/P/006440188X.0...,44,The Secret Garden,Frances Hodgson Burnett,When orphaned Mary Lennox comes to live at her...,"['Classics', 'Fiction', 'Childrens', 'Young Ad...",4.15,"1,097,941",https://www.goodreads.com/book/show/2998.The_S...
92,277427,0140067477,0,The Tao of Pooh,Benjamin Hoff,1983,Penguin Books,http://images.amazon.com/images/P/0140067477.0...,http://images.amazon.com/images/P/0140067477.0...,http://images.amazon.com/images/P/0140067477.0...,275,The Tao of Pooh,Benjamin Hoff,The Wisdom of Pooh.Is there such thing as a We...,"['Philosophy', 'Nonfiction', 'Spirituality', '...",4.00,"114,934",https://www.goodreads.com/book/show/48757.The_...
93,277427,0142001740,0,The Secret Life of Bees,Sue Monk Kidd,2003,Penguin Books,http://images.amazon.com/images/P/0142001740.0...,http://images.amazon.com/images/P/0142001740.0...,http://images.amazon.com/images/P/0142001740.0...,160,The Secret Life of Bees,Sue Monk Kidd,"Set in South Carolina in 1964, The Secret Life...","['Fiction', 'Historical Fiction', 'Young Adult...",4.08,"1,248,114",https://www.goodreads.com/book/show/37435.The_...
94,277427,0316602051,0,The Jester,James Patterson,2003,"Little, Brown",http://images.amazon.com/images/P/0316602051.0...,http://images.amazon.com/images/P/0316602051.0...,http://images.amazon.com/images/P/0316602051.0...,6423,The Jester,James Patterson,"Freedom - in eleventh-century France, it is a ...","['Fiction', 'Mystery', 'Historical Fiction', '...",3.81,"19,819",https://www.goodreads.com/book/show/13157.The_...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86455,276680,0440221595,8,The Glass Lake,Maeve Binchy,1996,Dell,http://images.amazon.com/images/P/0440221595.0...,http://images.amazon.com/images/P/0440221595.0...,http://images.amazon.com/images/P/0440221595.0...,2572,The Glass Lake,Maeve Binchy,Kit McMahon lives in the small Irish town of L...,"['Fiction', 'Chick Lit', 'Ireland', 'Romance',...",3.97,"22,976",https://www.goodreads.com/book/show/34310.The_...
86456,276680,0446670251,0,The Virgin Suicides,Jeffrey Eugenides,1994,Warner Books,http://images.amazon.com/images/P/0446670251.0...,http://images.amazon.com/images/P/0446670251.0...,http://images.amazon.com/images/P/0446670251.0...,698,The Virgin Suicides,Jeffrey Eugenides,The shocking thing about the girls was how nea...,"['Fiction', 'Classics', 'Contemporary', 'Young...",3.82,"291,469",https://www.goodreads.com/book/show/10956.The_...
86457,276680,0679419853,9,A Simple Plan,Scott Smith,1993,Random House Inc,http://images.amazon.com/images/P/0679419853.0...,http://images.amazon.com/images/P/0679419853.0...,http://images.amazon.com/images/P/0679419853.0...,3156,A Simple Plan,Scott Smith,Two brothers and their friend stumble upon the...,"['Fiction', 'Thriller', 'Mystery', 'Crime', 'S...",3.90,"30,305",https://www.goodreads.com/book/show/21727.A_Si...
86458,276680,0688163165,10,Mystic River,Dennis Lehane,2001,William Morrow &amp; Company,http://images.amazon.com/images/P/0688163165.0...,http://images.amazon.com/images/P/0688163165.0...,http://images.amazon.com/images/P/0688163165.0...,872,Mystic River,Dennis Lehane,"When they were children, Sean Devine, Jimmy Ma...","['Mystery', 'Fiction', 'Thriller', 'Crime', 'M...",4.16,"139,846",https://www.goodreads.com/book/show/21671.Myst...
86459,276680,1573222038,10,Fingersmith,Sarah Waters,2002,Riverhead Hardcover,http://images.amazon.com/images/P/1573222038.0...,http://images.amazon.com/images/P/1573222038.0...,http://images.amazon.com/images/P/1573222038.0...,1682,Fingersmith,Sarah Waters,"Sue Trinder is an orphan, left as an infant in...","['Historical Fiction', 'Fiction', 'LGBT', 'His...",4.02,"100,256",https://www.goodreads.com/book/show/8913370-fi...

In [298]:
y=filtered_rating.groupby('Book-Title').count()['Book-Rating']>=10
famous_books=y[y].index
famous_books

Index([''Salem's Lot', '1984', '2001: A Space Odyssey', '2010: Odyssey Two',
       '3001: The Final Odyssey', 'A Bend in the Road', 'A Case of Need',
       'A Confederacy of Dunces', 'A Day No Pigs Would Die', 'A Doll's House',
       ...
       'Wild Swans: Three Daughters of China', 'Windmills of the Gods',
       'Winter's Tale', 'Without Feathers', 'Woman on the Edge of Time',
       'Women in Love', 'Written on the Body', 'Wuthering Heights',
       'Year of Wonders', 'Your Erroneous Zones'],
      dtype='object', name='Book-Title', length=811)

In [218]:
final_ratings= filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [219]:
pt= final_ratings.pivot_table(index='Book-Title', columns='User-ID',values='Book-Rating')

In [220]:
pt.fillna(0, inplace=True)

In [221]:
pt

User-ID,243,254,638,805,882,1424,1435,1903,2276,2766,...,275020,275306,275922,275970,276680,277427,277639,277928,278418,278633
Book-Title,,,,,,,,,,,,,,,,,,,,,
'Salem's Lot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1984,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2001: A Space Odyssey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3001: The Final Odyssey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Women in Love,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Written on the Body,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wuthering Heights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Year of Wonders,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Your Erroneous Zones,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [222]:
from sklearn.metrics.pairwise import cosine_similarity

In [223]:
similarity_scores=cosine_similarity(pt)

In [224]:
similarity_scores

array([[1.        , 0.03848774, 0.        , ..., 0.02089528, 0.0342168 ,
        0.        ],
       [0.03848774, 1.        , 0.        , ..., 0.03132394, 0.05878095,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.07173671, 0.        ,
        0.        ],
       ...,
       [0.02089528, 0.03132394, 0.07173671, ..., 1.        , 0.03386096,
        0.        ],
       [0.0342168 , 0.05878095, 0.        , ..., 0.03386096, 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [270]:
def collab_filt_recommend(book_name):
    #index fetch
    index = np.where(pt.index == book_name)[0][0]
    
    similar_items= sorted(list(enumerate(similarity_scores[index])),key = lambda x:x[1],reverse=True)[1:6]
    L=[]
    for i in similar_items:
        L.append(pt.index[i[0]])
    return L

In [271]:
collab_list=collab_filt_recommend("The Kitchen God's Wife")
collab_list

["The Bonesetter's Daughter",
 'The Joy Luck Club',
 'Faith',
 'Memoirs of a Geisha',
 "Complications: A Surgeon's Notes on an Imperfect Science"]

## Content-Based Filtering

In [154]:
books_content

,Unnamed: 0,Book,Author,Description,Genres,Avg_Rating,Num_Ratings,URL
0,0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ...",4.27,"5,691,311",https://www.goodreads.com/book/show/2657.To_Ki...
1,1,Harry Potter and the Philosopherâ€™s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",4.47,"9,278,135",https://www.goodreads.com/book/show/72193.Harr...
2,2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical...",4.28,"3,944,155",https://www.goodreads.com/book/show/1885.Pride...
3,3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp...",4.18,"3,488,438",https://www.goodreads.com/book/show/48855.The_...
4,4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",3.98,"3,575,172",https://www.goodreads.com/book/show/170448.Ani...
...,...,...,...,...,...,...,...,...
9995,9995,"Breeders (Breeders Trilogy, #1)",Ashley Quigley,How far would you go? If human society was gen...,"['Dystopia', 'Science Fiction', 'Post Apocalyp...",3.44,276,https://www.goodreads.com/book/show/22085400-b...
9996,9996,Dynamo,Eleanor Gustafson,Jeth Cavanaugh is searching for a new life alo...,[],4.23,60,https://www.goodreads.com/book/show/20862902-d...
9997,9997,The Republic of Trees,Sam Taylor,This dark fable tells the story of four Englis...,"['Fiction', 'Horror', 'Dystopia', 'Coming Of A...",3.29,383,https://www.goodreads.com/book/show/891262.The...
9998,9998,"Waking Up (Healing Hearts, #1)",Renee Dyer,For Adriana Monroe life couldnâ€™t get any bette...,"['New Adult', 'Romance', 'Contemporary Romance...",4.13,263,https://www.goodreads.com/book/show/19347252-w...
9999,9999,Bits and Pieces: Tales and Sonnets,Jas T. Ward,After demands of thousands of fans in various ...,[],5.00,36,https://www.goodreads.com/book/show/21302552-b...

In [299]:
book = books_content[['Book','Author','Description','Genres']]

In [156]:
book.isnull().sum()

Book            0
Author          0
Description    77
Genres          0
dtype: int64

In [157]:
book.dropna(inplace=True)

C:\Users\HP PC\AppData\Local\Temp\ipykernel_5768\909299569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book.dropna(inplace=True)

In [158]:
book.isnull().sum()

Book           0
Author         0
Description    0
Genres         0
dtype: int64

In [159]:
book.head()

,Book,Author,Description,Genres
0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ..."
1,Harry Potter and the Philosopherâ€™s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',..."
2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical..."
3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp..."
4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',..."

In [160]:
book['Genres']

0       ['Classics', 'Fiction', 'Historical Fiction', ...
1       ['Fantasy', 'Fiction', 'Young Adult', 'Magic',...
2       ['Classics', 'Fiction', 'Romance', 'Historical...
3       ['Classics', 'Nonfiction', 'History', 'Biograp...
4       ['Classics', 'Fiction', 'Dystopia', 'Fantasy',...
                              ...
9995    ['Dystopia', 'Science Fiction', 'Post Apocalyp...
9996                                                   []
9997    ['Fiction', 'Horror', 'Dystopia', 'Coming Of A...
9998    ['New Adult', 'Romance', 'Contemporary Romance...
9999                                                   []
Name: Genres, Length: 9923, dtype: object

In [162]:
#book['Genres']=book['Genres'].apply(convert)
book.head()

,Book,Author,Description,Genres
0,To Kill a Mockingbird,Harper Lee,The unforgettable novel of a childhood in a sl...,"['Classics', 'Fiction', 'Historical Fiction', ..."
1,Harry Potter and the Philosopherâ€™s Stone (Harr...,J.K. Rowling,Harry Potter thinks he is an ordinary boy - un...,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',..."
2,Pride and Prejudice,Jane Austen,"Since its immediate success in 1813, Pride and...","['Classics', 'Fiction', 'Romance', 'Historical..."
3,The Diary of a Young Girl,Anne Frank,Discovered in the attic in which she spent the...,"['Classics', 'Nonfiction', 'History', 'Biograp..."
4,Animal Farm,George Orwell,Librarian's note: There is an Alternate Cover ...,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',..."

In [163]:
book.loc[:, 'Description'] =book['Description'].apply(lambda x:x.split(" "))

In [164]:
book.loc[:,'Description']=book['Description'].apply(lambda x:[i.replace(" ","") for i in x])

In [165]:
book['Author']=book['Author'].apply(lambda x:x.replace(" ",""))

#book.loc[:,'Author'] = book['Author'].apply(lambda author: ''.join(author))

C:\Users\HP PC\AppData\Local\Temp\ipykernel_5768\3123352534.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book['Author']=book['Author'].apply(lambda x:x.replace(" ",""))

In [166]:
book['Genres']=book['Genres'].apply(lambda x:x.replace(" ",""))

C:\Users\HP PC\AppData\Local\Temp\ipykernel_5768\2863895071.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book['Genres']=book['Genres'].apply(lambda x:x.replace(" ",""))

In [167]:
book['Author'] = book['Author'].apply(lambda x: [x])

C:\Users\HP PC\AppData\Local\Temp\ipykernel_5768\259777671.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book['Author'] = book['Author'].apply(lambda x: [x])

In [168]:
book.head()

,Book,Author,Description,Genres
0,To Kill a Mockingbird,[HarperLee],"[The, unforgettable, novel, of, a, childhood, ...","['Classics','Fiction','HistoricalFiction','Sch..."
1,Harry Potter and the Philosopherâ€™s Stone (Harr...,[J.K.Rowling],"[Harry, Potter, thinks, he, is, an, ordinary, ...","['Fantasy','Fiction','YoungAdult','Magic','Chi..."
2,Pride and Prejudice,[JaneAusten],"[Since, its, immediate, success, in, 1813,, Pr...","['Classics','Fiction','Romance','HistoricalFic..."
3,The Diary of a Young Girl,[AnneFrank],"[Discovered, in, the, attic, in, which, she, s...","['Classics','Nonfiction','History','Biography'..."
4,Animal Farm,[GeorgeOrwell],"[Librarian's, note:, There, is, an, Alternate,...","['Classics','Fiction','Dystopia','Fantasy','Po..."

In [169]:
def fix_case(genres):
    
    genre_list = eval(genres)
    
    return genre_list

In [170]:
book['Genres']=book['Genres'].apply(fix_case)

C:\Users\HP PC\AppData\Local\Temp\ipykernel_5768\268855289.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book['Genres']=book['Genres'].apply(fix_case)

In [171]:
book['tags']=book['Description']+book['Author']+book['Genres']

C:\Users\HP PC\AppData\Local\Temp\ipykernel_5768\3073259139.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book['tags']=book['Description']+book['Author']+book['Genres']

In [172]:
new_df = book[['Book','tags']]

In [173]:
new_df.head()

,Book,tags
0,To Kill a Mockingbird,"[The, unforgettable, novel, of, a, childhood, ..."
1,Harry Potter and the Philosopherâ€™s Stone (Harr...,"[Harry, Potter, thinks, he, is, an, ordinary, ..."
2,Pride and Prejudice,"[Since, its, immediate, success, in, 1813,, Pr..."
3,The Diary of a Young Girl,"[Discovered, in, the, attic, in, which, she, s..."
4,Animal Farm,"[Librarian's, note:, There, is, an, Alternate,..."

In [174]:
new_df.loc[0, 'tags']

['The',
 'unforgettable',
 'novel',
 'of',
 'a',
 'childhood',
 'in',
 'a',
 'sleepy',
 'Southern',
 'town',
 'and',
 'the',
 'crisis',
 'of',
 'conscience',
 'that',
 'rocked',
 'it.',
 '"To',
 'Kill',
 'A',
 'Mockingbird"',
 'became',
 'both',
 'an',
 'instant',
 'bestseller',
 'and',
 'a',
 'critical',
 'success',
 'when',
 'it',
 'was',
 'first',
 'published',
 'in',
 '1960.',
 'It',
 'went',
 'on',
 'to',
 'win',
 'the',
 'Pulitzer',
 'Prize',
 'in',
 '1961',
 'and',
 'was',
 'later',
 'made',
 'into',
 'an',
 'Academy',
 'Award-winning',
 'film,',
 'also',
 'a',
 'classic.Compassionate,',
 'dramatic,',
 'and',
 'deeply',
 'moving,',
 '"To',
 'Kill',
 'A',
 'Mockingbird"',
 'takes',
 'readers',
 'to',
 'the',
 'roots',
 'of',
 'human',
 'behavior',
 '-',
 'to',
 'innocence',
 'and',
 'experience,',
 'kindness',
 'and',
 'cruelty,',
 'love',
 'and',
 'hatred,',
 'humor',
 'and',
 'pathos.',
 'Now',
 'with',
 'over',
 '18',
 'million',
 'copies',
 'in',
 'print',
 'and',
 'translated',
 'into',
 'forty',
 'languages,',
 'this',
 'regional',
 'story',
 'by',
 'a',
 'young',
 'Alabama',
 'woman',
 'claims',
 'universal',
 'appeal.',
 'Harper',
 'Lee',
 'always',
 'considered',
 'her',
 'book',
 'to',
 'be',
 'a',
 'simple',
 'love',
 'story.',
 'Today',
 'it',
 'is',
 'regarded',
 'as',
 'a',
 'masterpiece',
 'of',
 'American',
 'literature.',
 'HarperLee',
 'Classics',
 'Fiction',
 'HistoricalFiction',
 'School',
 'Literature',
 'YoungAdult',
 'Historical']

In [175]:
new_df['tags']=new_df['tags'].apply(lambda x :" ".join(x))

C:\Users\HP PC\AppData\Local\Temp\ipykernel_5768\1182018406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x :" ".join(x))

In [176]:
new_df['tags']=new_df['tags'].apply(lambda x :x.lower())

C:\Users\HP PC\AppData\Local\Temp\ipykernel_5768\991987069.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x :x.lower())

In [177]:
new_df.head()

,Book,tags
0,To Kill a Mockingbird,the unforgettable novel of a childhood in a sl...
1,Harry Potter and the Philosopherâ€™s Stone (Harr...,harry potter thinks he is an ordinary boy - un...
2,Pride and Prejudice,"since its immediate success in 1813, pride and..."
3,The Diary of a Young Girl,discovered in the attic in which she spent the...
4,Animal Farm,librarian's note: there is an alternate cover ...

In [178]:
import nltk

In [179]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [180]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [181]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\HP PC\AppData\Local\Temp\ipykernel_5768\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [182]:
new_df['tags']

0       the unforgett novel of a childhood in a sleepi...
1       harri potter think he is an ordinari boy - unt...
2       sinc it immedi success in 1813, pride and prej...
3       discov in the attic in which she spent the las...
4       librarian' note: there is an altern cover edit...
                              ...
9995    how far would you go? if human societi wa genu...
9996    jeth cavanaugh is search for a new life along ...
9997    thi dark fabl tell the stori of four english c...
9998    for adriana monro life couldnâ€™t get ani better...
9999    after demand of thousand of fan in variou soci...
Name: tags, Length: 9923, dtype: object

In [183]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words="english")

In [184]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [185]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [186]:
len(cv.get_feature_names_out())

5000

In [187]:
from sklearn.metrics.pairwise import cosine_similarity

In [188]:
similarity=cosine_similarity(vectors)

In [189]:
sorted(list(enumerate(similarity[7])),reverse = True, key=lambda x :x[1])[1:6]

[(130, 0.40659210395843826),
 (4662, 0.3713471242371139),
 (1413, 0.3706246583305506),
 (173, 0.3646661455184454),
 (6964, 0.36292234292703146)]

In [267]:
def content_based_recommend(book):
    
    book_index = new_df[new_df['Book'] == book].index[0]
    distances = similarity[book_index]
    book_list= sorted(list(enumerate(distances)),reverse = True, key=lambda x :x[1])[1:6]
    L=[]
    for i in book_list:
       
        L.append(new_df.iloc[i[0]].Book)
    return L

In [269]:
c_books=content_based_recommend("The Kitchen God's Wife")
c_books

['168 Hours: You Have More Time Than You Think',
 'Make Time: How to Focus on What Matters Every Day',
 'Four Thousand Weeks: Time Management for Mortals',
 'Overwhelmed: Work, Love, and Play When No One Has the Time',
 'First Things First']

In [232]:
book['Book']

0                                   To Kill a Mockingbird
1       Harry Potter and the Philosopherâ€™s Stone (Harr...
2                                     Pride and Prejudice
3                               The Diary of a Young Girl
4                                             Animal Farm
                              ...
9995                      Breeders (Breeders Trilogy, #1)
9996                                               Dynamo
9997                                The Republic of Trees
9998                       Waking Up (Healing Hearts, #1)
9999                   Bits and Pieces: Tales and Sonnets
Name: Book, Length: 9923, dtype: object

In [285]:
def hybrid_recommender(book):
    try:
      content_books = content_based_recommend(book) 
    except:
      content_books=[]
    
    try:
        collab_books = collab_filt_recommend(book)
    except:
       collab_books=[]
    return content_books+collab_books

In [288]:
hybrid_books=hybrid_recommender("The Diary of a Young Girl")

In [289]:
hybrid_books

['Anne Frank Remembered',
 'Auschwitz: True Tales from a Grotesque Land',
 'Red Scarf Girl',
 'After Dachau',
 'Alicia: My Story']